# https://git-scm.com/docs/gitignore#_pattern_format

# Package Managers
node_modules/

# Editor Configs
.vscode

# Remix
.cache/
build/

# Cloudflare
.wrangler/
.dev.vars

# Tests
test-results/
playwright-report/

# SST
.sst/

# Miscelaneous
dist/
out/
.DS_Store/
.DS_Store
.env
.tmp/
.nvmrc

